<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in details %}
    <h1>name={{i.name}} email={{i.email}} phone={{i.phone}} age={{i.age}} location={{i.location}} </h1>
    {% endfor%}
    <table border="2" cellspacing="0" cellpadding="20px">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            <th>age</th>
            <th>location</th>
        </tr>
        {% for i in details %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}} </td>
            <td>{{i.age}} </td>
            <td>{{i.location}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>