<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <input list="records" name="record">
        <datalist id="records">
            {% for i in data %}
            <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}

        </datalist>
        <input type="submit" value="update">
    </form>
</body>
</html>